
.container-navbar {
    margin: 0 auto;
    width: 100%;
}
.container {
    margin-top: 200px;
    background: white;
    margin-bottom: 200px;
    padding-bottom: 20px;

}
.aboutMeTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 20px;
    color: #4AAAA5;
}
p {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
ul {
    padding: 0px 30px 30px 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
footer{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #666666;
    color:white;
    Border-top: solid 5px #4aaaa5;
    bottom:0%;
    line-height: 35px;
    text-align: center;
    z-index: 1000;
}
.row {
    margin: 10px;
    padding: 10px;
}
.portbox {
    margin-bottom: 20px;
}
